{
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
  },
  "rules": {
    "strict": 1,
    "no-undef": 1,
    "no-undefined": 1,
    "no-underscore-dangle": 0
  }
}